/*
*
* ==========================================
* custom 404
* ==========================================
*
*/
body, html {
  height: 100vh;
}
.page-holder {
  min-height: 100vh;
}

.bg-cover {
  background-size: cover;
  min-height: 100vh;
}
.caption {
    position: relative;
    left: 0;
    top: 50vh;
    width: 100vw;
    text-align: center;
}