html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
  list-style-type: none;

}
.contact{
	right: 25%;
    top:25%;
    z-index:2;
    pointer-events: auto;
    position:absolute;
    animation: card 2s;
    opacity: 70%;
}
.contact:hover{
    opacity: 100%;
    transform: scale(1.1);
}
#map {
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    
}
#map_barcelon {
    position: absolute;
    width: 100.0%;
    height: 100.0%;
    left: 0.0%;
    top: 0.0%;
    z-index: 1;
}

@-webkit-keyframes card {
  0%   { opacity: 0; }
  100% { opacity: 70%; }
}
@-moz-keyframes card {
  0%   { opacity: 0; }
  100% { opacity: 70%; }
}
@-o-keyframes card {
  0%   { opacity: 0; }
  100% { opacity: 70%; }
}
@keyframes card {
  0%   { opacity: 0; }
  100% { opacity: 70%; }
}