/*
*
* ==========================================
* video background
* ==========================================
*
*/

.video-background-holder {
  position: relative;
  background-color: black;
  height: calc(100vh - 0px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.video-background-holder video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
  position: relative;
  z-index: 2;
}

.video-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/*
*
* ==========================================
* custom Navbar
* ==========================================
*
*/
.navbar {
    transition: all 0.5s;
    z-index: 3;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #C50000;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #8D8D8D;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #C50000;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #8D8D8D;
}
button:hover{
   transform: rotate(45deg);
}
button:focus {
  outline: none;
  box-shadow: none;
}

.menueButton{
  font-size: 35px;
  color: #fff;
}
.menueButton:hover{
  color: #C50000;
}
.menueButton:active{
  color: #C50000;
  transition: 0.1s;
}

.wrap{
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
}
 

